<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova reclamacao</title>
</head>
<body>
    <h1>Nova reclamacao</h1>
    <form action="/create" method="POST">
        Titulo:<br>
        <input type="text" name="titulo" required><br><br>

        Descricao:<br> 
        <textarea name="descricao" rows="4" cols="40"></textarea><br><br>
        <input type="submit" value="Enviar Reclamaçao">
    </form>
    <a href="/">Voltar</a>
</body>
</html>