<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <h1>Editar Reclemacao</h1>
    <form method="POST" action="/edit/{{reclamacao.id}}">
        Titulo:<br> 
        <input type="text" name="titulo" value="{{reclamacao.titulo}}"><br><br>

        Descricao:<br> 
        <textarea name="descricao" rows="4" cols="40" required>{{reclamacao.descricao}}</textarea><br><br>

        <input type="submit" value="Atualizar Reclamaçao">
    </form>
    <a href="/">Voltar</a>
</body>
</html>