<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReclameEduca</title>
</head>
<body>
    <h1>Reclamacoes</h1>
    <a href="/create">Nova Reclamaçao</a>
    <ul>
        {% for reclamacao in reclamacoes %}
            <li>
                <strong>{{ reclamacao.titulo }}</strong>
                [<a href='/show/{{reclamacao.id}}'>Ver</a>]
                [<a href='/edit/{{reclamacao.id}}'>Editar</a>]
                [<a href='/delete/{{reclamacao.id}}'>Excluir</a>]
            </li>
            
        {% endfor %}
    </ul>
</body>
</html>